<ion-pane ng-controller="zpwCitySelCtrl" class="zpw-city-sel-page">
    <ion-header-bar>
        <h1 class="title">choose city</h1>

        <div class="buttons">
            <button class="button button-clear" ng-click="close()">Close</button>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="zpw-city-sel-page__list">
            <div class="zpw-city-sel-page__list__item"
                 collection-repeat="city in cities"
                 collection-item-height="getItemHeight(city)"
                 collection-item-width="getItemWidth(city)"
                 ng-click="itemClicked($index)">
                {{city.d2}} - {{city.d4}}
            </div>
        </div>
    </ion-content>

</ion-pane>