<div class="zpw-current-weather">
    <div class="zpw-current-weather__top-container">
        <div class="zpw-current-weather__top-container__realtime-temp">{{realtimeWeather.temp}}℃</div>

        <div>
            <div class="zpw-current-weather__top-container__weather-icon">todo~</div>
            <div class="zpw-current-weather__top-container__info">{{todayWeather.weather}}</div>
        </div>
    </div>

    <div class="zpw-current-weather__bottom-container">
        <!--//refer to http://jsfiddle.net/CkBWL/-->
        <div class="zpw-current-weather__date">{{date | date:'MM/dd'}}</div>
        <div class="zpw-current-weather__today-temp"><span ng-bind="todayWeather.temp1"></span> ~ {{todayWeather.temp2}}
        </div>
    </div>

    <div class="zpw-current-weather__bottom-container">
        <div class="zpw-current-weather__humidity">湿度{{realtimeWeather.SD}}</div>
        <div class="zpw-current-weather__wind">{{realtimeWeather.WD + realtimeWeather.WS}}</div>
    </div>
</div>
