<ion-view title="guangzhou" class="zpw-weather-page">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <!--<ion-content class="has-header" zpw-background-image="http://images2.wikia.nocookie.net/__cb20110811172434/fallingskies/images/f/fd/Totoro_normal.gif" >-->
    <ion-content class="has-header zpw-weather-page__content" zpw-background-image="img/default_background.jpg">
        <!--<ion-refresher-->
        <!--pulling-text="Pull to refresh..."-->
        <!--on-refresh="doRefresh()">-->
        <!--</ion-refresher>-->

        <ion-refresher
                on-refresh="doRefresh()">
        </ion-refresher>

        <div>
            <div class="zpw-weather-page__content__weather-info">
                <zpw-current-weather realtime-weather="realtimeWeatherInfo" today-weather="todayWeatherInfo"
                                     date="todayDate"></zpw-current-weather>

                <!--<zpw-weekly-forecast forecast="weeklyWeatherInfo"></zpw-weekly-forecast>-->

                <div class="zpw-weather-page__content__weather-info__weekly-weather">
                    <div ng-repeat="weather in weeklyWeatherInfo">
                        <zpw-daily-weather weather="weather" index="$index"></zpw-daily-weather>
                    </div>
                </div>

            </div>
        </div>


    </ion-content>
</ion-view>
