node_modules
dist
.tmp
.sass-cache
www/lib
platforms/ios/build
platforms/ios/www
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/assets
platforms/android/bin
#屏蔽webstormIDE
.idea
